.error-msg{
    width: "100%";
    padding: 10;
    margin-bottom: 10;
    border-radius: 4;
    background-color: "orangered";
    text-align: "center";
    color: "white";
    text-transform: "capitalize";
}